@import "../../styles/globals";

.pagination {
  display: flex;
  align-items: center;
  float: right;
  margin-top: 10px;

  .page-size-select {
    margin-right: 20px;
  }

  .text {
    color: $grey-50;
    font-size: 13px;
    font-weight: 600;
    margin: 0 10px;
  }

  .disabled {
    pointer-events: none;
  }
}
